body{
  background-color: red;
  text-align: center;
}
ul{
  text-align: center;
  list-style: inside;
}
h2{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: "Georgia", Times, serif;
}
title{
  text-align: center;
}
